.wd-song-slide {
    background-color: rgb(235, 233, 233);
    height: 450px;
}

.wd-song-table img {
    max-height: 100px;
}

.wd-song-table {
    width: 80vh;
}

.wd-song-rec-name {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}

.wd-song-table a {
    text-decoration: none;
    justify-content: flex-start;
    align-items: center;
    color: black;
}

.wd-song-rec-author {
    color: rgb(168, 164, 164);
}

.wd-song-table a:hover .wd-song-rec-name, 
.wd-song-table a:hover .wd-song-rec-author {
    color: #31c27c;
}

.wd-songRec-image-container {
    position: relative;
    display: inline-block;
    align-self: flex-start;
}



.wd-songRec-image-container img {
    max-width: 100%;
    display: block;
}

.wd-songRec-image-container svg {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    display: none; 
    pointer-events: none; 
}

.wd-songRec-image-container:hover svg {
    display: block; 
}

.wd-song-recomm-item .wd-song-table, 
.wd-song-recomm-item .wd-song-table tr, 
.wd-song-recomm-item .wd-song-table td {
    border: transparent;
    background-color: transparent;
}
