.wd-profile{
    margin-top: 100px;
}

.wd-profile-header{
    text-align: center;
    height: 450px;
    align-items: center;
    justify-content: center;
    background-image: url("./cover.jpg");
}
.wd-profile-header svg{
    width: 100px;
    height: 100px;
    margin-top: 150px;
    color:white;
}

.wd-profile-main-nav .nav{
    flex-wrap: nowrap;
}


.wd-profile-user-name{
    color: white;
}
.wd-profile-header-followInfo{
    margin-top: 100px;
    margin-left: 200px;
    color: white;
}

.wd-profile-header-followInfo p{
    margin-right: 30px;
    font-weight: 550;
}

.wd-profile-body{
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
}
.wd-profile-header button{
    width: 75px;
    height: 30px;
    padding: 2px;
}