.wd-song-create{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}

.wd-song-create-lyrics{
    width: 300px;
    white-space: pre-line;
}

.wd-song-create .row{
    width: 500px;
}